name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  info:
    uses: ./.github/workflows/info.yml

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: build the docker image
        run: cd app && make build-docker

      - name: test the app
        run: cd app && make test-docker
