name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "build version: $VERSION"
          echo "repository name: $GITHUB_REPOSITORY"
          echo "Branch or tag: $GITHUB_REF"
          echo "commit: $GITHUB_SHA"

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23.4"

      - name: test the app
        run: cd app && make test
