name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  info:
    uses: ./.github/workflows/info.yml

  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: set env
        run: |
          export version=${GITHUB_REF#"refs/tags/"}
          export revision=${GITHUB_SHA:0:16}
          export major=${version%%.*}

      - name: build
        run: |
          cd app && version="${version}" revision="${revision}" make build-docker
          docker image tag docker.io/platform/app:latest docker.io/platform/app:${version}
          # docker push my-username/my-image
