name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "build version: $VERSION"
          echo "repository name: $GITHUB_REPOSITORY"
          echo "Branch or tag: $GITHUB_REF"
          echo "commit: $GITHUB_SHA"

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23.4"

      - name: test
        run: cd app && make test

      - name: build
        run: |
          cd app && \
          version="$GITHUB_REF" revision="$GITHUB_SHA" make build-docker

      # push
